:root > * {
    --md-code-bg-color: #eee;
}

.md-content { max-width: 70em; }

@media screen and (min-width: 1300px) {
    .md-sidebar {margin-left: 100px;}
}

.md-content h1, .md-content h2, .md-content h3, .md-content h4 { color: var(--md-default-fg-color); font-weight: 400; }

.md-content h1 { margin-bottom: 20px;}
.md-typeset h2 { margin-bottom: -8px;}
.md-typeset h3 { margin-bottom: -8px;}

.md-typeset pre { margin-bottom: 32px; }

p a { text-decoration: underline; }

p {margin-bottom: 12px; margin-top: 12px; }

.md-tabs__link {transition: none; opacity: 1; font-size:16px;}

label.md-nav__title, a.md-nav__link {font-size: 16px;}

.md-tabs__link--active, .md-tabs__link:hover {border-bottom: 1px solid white;}

a.md-nav__link {color: var(--md-typeset-a-color); text-decoration: underline;}